* {
    font-family: 'Lobster', cursive;
    color: #daa520;
    text-decoration-line: line-through;
    text-decoration-color: silver;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #194B78;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bdsi {
    font-size: 55px;
}

.navbar,
.container {
    background-color: whitesmoke;
    width: 800px;
    border-radius: 3px;
}

.navbar {
    width: 975px;
    padding: 1em;
    margin-bottom: 4em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer,
input {
    height: 35px;
    padding: 0 1em;
}

.color {
    padding: 0 .25em;
    width: 100px;
    margin: 0 1em;
}

.container,
size {
    --size: 4;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    gap: 1px;
    padding: 5px;
    height: 1000px;
}

.pixel {
    background-color: #194B78;
    font-size: 100px;
    border-radius: 3px;
}